.theory::first-letter {
    font-size: 36px;
    color: orange;
    margin-left: 16px;
}

.theory::first-line {
    font-size: 24px;
}

.theory{
    background-color: red;
    color: #fff;
}

p a[href]::before {
   content: ">";
    color: green;
}

p a[href]::after {
   content: "<";
    color: green;
}